@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
section {
    padding: 10px;
    height: 100vh;
}

body {
    min-height: 100vh;
    background: linear-gradient(#98c9cd 3%, #e6c3c1 60%, #e4989e 100% );
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    display: flex;
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li {
    list-style: none;
    margin-left: 20px;
   
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
    background: white;
    color: #2b1055;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-left: 70px;
}

.content .textBox {
    position: relative;
    max-width: 700px;
    text-align: justify;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
    text-align: justify;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #00ACC4;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
}
.content .imgBox {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img {
   max-width: 1000px; 
}
.circle {
    position: absolute;
    float: right;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F3EC9E;
    clip-path: circle(700px at right 900px);
}

